body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.results-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  width: 40rem;
}
.results__card {
  display: flex;
  flex-direction: row;
}

.searh-results__image {
  height: 9rem;
  width: 9rem;
  padding: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}