body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.results-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}

.search-results__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  width: 40rem;
}
.results__card {
  display: flex;
  flex-direction: row;
}

.dropdown {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 80px;
}
.searh-results__image {
  height: 9rem;
  width: 9rem;
  padding: 1rem;
  border-radius: 15px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pagination {
  display: flex;
  align-self: center;
  gap: 1rem;
}
.pagination-item {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: white;
  border: 1px solid #ddd;
}

.active {
  background-color: darkblue;
  color: white;
}